.App {
  font-family: lato;
  
}

.container {
  display: flex;
  padding: 1.25em;
  width: 400px;
  border: 1px solid #faba09;
  border-radius: 2px;
  border-bottom-color: rgb(182, 231, 4);
  border-right-color: rgb(182, 231, 4);
  box-shadow: 3px 3px 3px rgb(182, 231, 4);
  font-size: 1.2em;
}

.container img {
  max-width: 100px;
  margin-right: 1.5rem;
}

.container cite {
  margin-left: 50px;
  font-size: large;
}

.button{
font-size: 15px;
  align-items: left;
  border-radius: 5px;
  background-color: antiquewhite;

}